@inject Forge4BlazorRCL.ForgeApiService ForgeApiService;
@inject IJSRuntime JSRuntime;

<div id="@id" style="@style">
</div>
@code {

    [Parameter]
    public string style { get; set; }

    [Parameter]
    public string id { get; set; }

    [Parameter]
    public EventCallback<ForgeViewer> OnViewerInitializedCallback { get; set; }

    [Parameter]
    public EventCallback<ForgeViewerMousePosition> OnMouseMove { get; set; }

    [Parameter]
    public EventCallback<ForgeViewerMousePosition> OnMouseClick { get; set; }

    private bool _useSnapper = false;

    [Parameter]
    public bool UseSnapper
    {
        get
        {
            return _useSnapper;
        }
        set
        {
            if(value!=_useSnapper)
            {
                _useSnapper = value;
                SnapperChangeAsync();
            }
        }
    }

    async Task SnapperChangeAsync()
    {
        if (_useSnapper && Viewer!=null)
        {
            await Viewer.LoadExtensionAsync("Autodesk.Snapping");
            await Viewer.MakeSnapper();
            await Viewer.RegisterAndActivateSnapper();
        }
        else
        {
            await Viewer.DestroySnapper();
            await Viewer.DeregisterAndDeactivateSnapper();
        }
    }


    private ForgeViewer Viewer { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Viewer = new ForgeViewer(JSRuntime, id, ForgeApiService);
        await OnViewerInitializedCallback.InvokeAsync(Viewer);
        await SnapperChangeAsync();
        Viewer.OnViewerStarted += OnViewerHasStarted;
    }

    private async void OnViewerHasStarted(object sender, EventArgs e)
    {
        if (OnMouseMove.HasDelegate)
        {
            await Viewer.AddMouseMoveEvent();
            Viewer.MouseMoved += OnMouseMoveAsync;
        }

        if (OnMouseClick.HasDelegate)
        {
            await Viewer.AddMouseClickEvent();
            Viewer.MouseClicked += OnMouseClickAsync;
        }
    }

    private async void OnMouseMoveAsync(object sender, ForgeViewerMousePosition aFVMousePosition)
    {
        await OnMouseMove.InvokeAsync(aFVMousePosition);
    }

    private async void OnMouseClickAsync(object sender, ForgeViewerMousePosition aFVMousePosition)
    {
        await OnMouseClick.InvokeAsync(aFVMousePosition);
    }


}
