@inject Forge4BlazorRCL.ForgeApiService ForgeApiService;
@inject IJSRuntime JSRuntime;

<div id="@id" style="@style">
</div>
@code {

    [Parameter]
    public string style { get; set; }

    [Parameter]
    public string id { get; set; }

    [Parameter]
    public EventCallback<ForgeViewer> OnViewerInitializedCallback { get; set; }

    private ForgeViewer Viewer { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Viewer = new ForgeViewer(JSRuntime, id);

        await OnViewerInitializedCallback.InvokeAsync(Viewer);
    }

}
