<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <p>Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@inject IConfiguration Configuration

@inject ForgeApiService ForgeApiService

@code{

    protected override async Task OnInitializedAsync()
    {
        ForgeApiService.SetClientIdAndSecret(
            Configuration.GetValue<string>("Forge:ClientId"),
            Configuration.GetValue<string>("Forge:ClientSecret")
        );
    }
}